.env
node_modules
dist
coverage

temp/**/*
!temp/.gitkeep

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for VSCode
.history/

# Built VSCode Extensions
*.vsix

# Ignore all local history of files
.history
.ionide